form {
    background-color: antiquewhite;
    text-align: left;

}
h1 {
    font-stretch: ;
    text-align: center;
    color: blueviolet;
    background-color: blanchedalmond;
    text-decoration: double;
}
label {
    font-weight: 200;

}